@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --box-shadow: 5px 5px 10px 10px rgba(101,75,10,0.5);
    --bg-color:rgb(40,47,97);
}

body{
    background-color: rgb(11,26,51);
    color: white;
    
}

/* navbar */

.nav_items li:hover {
    border-bottom: 3px solid yellow;
}

/* home section */

/* .home{
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.home .left{
       background-color: var(--bg-color);
       /* width: 620px;
       text-align: center;
       padding: 25px;
       border-radius: 10px;
       border: 2px solid yellow; */
       box-shadow: var(--box-shadow);
       /* transform: translateX(-150%); */
       /* animation: img 1s ease-in-out forwards; */
}
       /* @keyframes img {
        100%{
            transform: translate(0);
        }
} */

/* .img{
    transform: translateX(150%);
    animation: img 1s ease-in-out forwards;
} */
/* @keyframes img {
  100%{
      transform: translate(0);
  }
} */

.home .right .img img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    height: 250px;
    width: 250px;
    border: 2px solid yellow;
    border-radius: 50%;
    animation-name: superman;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes superman{
 0%{
 border-color: blue;
 transform: translate(0,0px);
 box-shadow: 10px 10px 100px 50px;
}
25%{
    border-color: rgb(239,244,11);
    box-shadow: 10px 10px 100px 50px rgb(239,244,11);
}
50%{
    border-color: rgb(12, 12, 199);
    transform: translate(0, 10px);
    box-shadow: 10px 10px 100px 50px  rgb(12, 12, 199);
}
75%{
    border-color: rgb(130,217,160);
    box-shadow: 10px 10px 100px 50px  rgb(130,217,160);
}
100%{
    border-color: rgb(50,55,205);
    transform: translate(0,-10px);
    box-shadow: 10px 10px 100px 50px rgb(50,55,205);
}
}

/* Experince section */

/* .ex{
    width: 900px;
} */

.ex-items {
  /* display: flex; */
  background-color: var(--bg-color);
  /* margin: 20px;
  padding: 20px;
  width: 800px;
  border-radius: 10px;
  border: 1px solid yellow; */
  box-shadow: var(--box-shadow);

}

/* skillls */

/*
.skills {
    width: 900px;
  }
  
  .skills .items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* width: 800px; */
    /* margin: auto; */
    /* background-color: yellow; */
  /* } */
  
  /*
  .skills .items .item {
    width: calc(33.33%);
    background-color: black;
    margin: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid yellow;
    box-shadow: var(--box-shadow);
  }
  
  .skills .items .item img {
    width: 70px;
  }
  

  */
  .skills {
    width: 900px;
    margin: auto;
  }
  
  /* .skills .items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
  } */
  
  .skills .items .item {
    /* width: calc(33.33% - 40px); */
    box-shadow: var(--box-shadow);
    /* background-color: black;
    margin: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid yellow;
    position: relative; */
  }
  
  .skills .items .item img {
    width: 70px;
    opacity: 0.7;
  }
  
  /* .skills .items .item .image-title {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  } */
  
  /* tools */

  /* .tools {
    width: 900px;
    margin: auto;
  }
  
  .tools .items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
  }
  
  .tools .items .item {
    width: calc(33.33% - 40px);
    background-color: rgb(168, 164, 95);
    margin: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid yellow;
    box-shadow: var(--box-shadow);
    position: relative;
  }
  
  .tools .items .item .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tools .items .item img {
    width: 70px;
    opacity: 0.7;
  }
  
  .tools .items .item .image-title {
    /* position: absolute; */
    /* color: black; */
    /* font-weight: bold; */
    /* font-size: 16px; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* pointer-events: none; */
  /* } */ */
  
  /* contact item  */

  .contact-icon .items:hover {
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
  }

  /* form */

.form-shadow{
  box-shadow: var(--box-shadow);
}